:root {
  --bg: #0d1117;
  --card: #161b22;
  --text: #c9d1d9;
  --accent: #238636;
  --error: #f85149;
  --small-card: #2a313c;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: calc(100% - 400px);
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 100px auto;
  max-width: 75%;
}

input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #30363d;
  background: #0d1117;
  color: var(--text);
}

.btn {
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 600;
}
.btn:hover {
  background: #2ea043;
}
/* 
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--accent);
} */

h2 {
  margin: 12px 0 4px;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error {
  color: var(--error);
  font-weight: 600;
  margin-top: 16px;
}
/* New Style */

#profile-card {
  width: 33%;
  height: fit-content;
  background: whitesmoke;
  padding: 60px 20px 20px;
  border-radius: 20px;
  text-align: center;
  color: var(--card);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 150px;
  overflow: visible;
}
.profile-avatar-wrapper {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
}

#userData {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.profile-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.profile-details-item {
  background-color: var(--small-card);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  align-items: flex-start;
}

#backToTop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: none;
}

#backToTop:hover {
  transform: translateY(-10px);
}

#following {
  background: #6c63ff;
}
#followers {
  background: #20c997;
}

.number {
  font-weight: bold;
}

.follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  padding: 5px 10px;
}

.stat {
  /* color: var(--text); */
}

.follow img {
  width: 20px;
}

#follow-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
